In [1]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [2]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [3]:
# prinrt primes up to 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [ ]:
fruits[1:] = "watermelon"
# 1: has added watermelon as a list of characters
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [7]:
fruits = ["apple", "banana", "cherry"]

In [9]:
fruits.insert(1, "watermelon")
print(fruits)

['apple', 'watermelon', 'watermelon', 'banana', 'cherry']

In [ ]:
fruits.remove("banana") # removes first occurrence of the value
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry']

In [11]:
fruits.index("cherry") # returns index of first occurrence of the value

3

In [14]:
print(fruits)
fruits.insert(2, "watermelon")
print(fruits.count("watermelon")) # counts occurrences of the value

['apple', 'watermelon', 'watermelon', 'watermelon', 'watermelon', 'cherry']
5

In [16]:
fruits.sort()
print(fruits)

['apple', 'cherry', 'watermelon', 'watermelon', 'watermelon', 'watermelon', 'watermelon']

In [17]:
fruits.reverse()
print(fruits)

['watermelon', 'watermelon', 'watermelon', 'watermelon', 'watermelon', 'cherry', 'apple']

In [19]:
fruits.clear()
print(fruits)

[]

In [20]:
## slicing lists
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers[2:5]) # from index 2 to index 5 (not included)
print(numbers[:5]) # from start to index 5 (not included)
print(numbers[5:]) # from index 5 to end
print(numbers[::2]) # from start to end, step 2
print(numbers[::-1]) # from start to end, step -1 (reverses the list)

[2, 3, 4]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [21]:
## iterating with index
for index, number in enumerate(numbers):
    print(index, number)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [22]:
## lsit comprehensions
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
numbers=[x**2 for x in numbers]
numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
even_numbers = [num for num in range(10) if num%2==0]
even_numbers

[0, 2, 4, 6, 8]

In [27]:
## list comprehensions with nested lists
list1 = [1,2,3,4]
list2 = ['a','b','c','d']

pair = [[x,y] for x in list1 for y in list2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [28]:
## list comprehensions with function calls
words = ['hello', 'world', 'python']
lengths = [len(word) for word in words]
lengths

[5, 5, 6]

In [29]:
labels = ["even" if num % 2 == 0 else "odd" for num in range(10)]
print(labels)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']